{% extends 'base.html.twig' %}

{% block body %}
    <div class="jumbotron">
        <h1 class="display-4">Bienvenue, {{ user.firstName }}</h1>
        <p class="lead">Bienvenue dans votre espace bibliothécaire.</p>
        <hr class="my-4">
        <p>Quelle action souhaitez-vous effectuer ?</p>
        <p class="lead">
            <a class="btn btn-primary btn-lg" href="{{ path('revive') }}" role="button">Envoyer les mails de relance</a>
        </p>
        <p class="lead">
            <a class="btn btn-primary btn-lg" href="#" role="button" id="myButton">Retourner un livre</a>
        </p>
        <div class="hidden" id="returnDiv">
            <p>Pour quel utilisateur voulez-vous retourner un livre ?</p>
            <form class="form-inline my-2 my-lg-0" method="post" action="{{ path('searchUser') }}" >
                <input class="form-control mr-sm-2" type="text" id="user" name="user" placeholder="Nom d'utilisateur..." aria-label="Search">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Recherche</button>
            </form>
        </div>
    </div>
    <script src="{{ asset('js/bookreturn.js') }}"></script>
{% endblock %}

